header {
   background-image: url('../imgs/bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;

   &::after {
      position: absolute;
      content: "";
      bottom: 0px;
      left: 0;
      padding: 0;
      height: 30px;
      width: 100%;
      background: linear-gradient(transparent 0%, $mainBgColor 100%);
   }



   .logo {
      flex: 0 0 auto;
      width: 100%;
      min-width: 800px;

      @media only screen and (max-width: 800px) {
        max-width: 100%;
        min-width: 550px;

      }

   }

   h1 {
      font-size: 64px;
      position: absolute;
      left: 0;
      width: 100%;
      top: 65vh;
      height: 64px;
      text-align: center;

      @media only screen and (max-width: 800px) {
        font-size: 40px;
        height: 40px;
      }
   }

   h2 {
      font-size: 40px;
      position: absolute;
      left: 0;
      width: 100%;
      top: 75vh;
      height: 48px;
      color: darken($textColor, 40);
      text-align: center;

      @media only screen and (max-width: 800px) {
        font-size: 28px;
        height: 28px;
      }
   }
}
