@import url('https://fonts.googleapis.com/css?family=Arimo|Cabin|Josefin+Sans|Poppins');

$textColor: white;
$linkColor: white;
$highColor: red;
$mainBgColor: #000000;

$mainFont: "Cabin", "Verdana", "Arial", Sans;
$headerFont: "Josefin Sans", "Verdana", "Arial",Sans;